body {
  margin: 5px;
  display: flex;
}
#navbar {
  border: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
}

#main-doc {
  border: 1px solid black;
  position: absolute;
  margin-left: 310px;
  padding: 20px;
}
@media only screen and (max-width: 815px) {
  #navbar ul {
    border: 1px solid;
  }
}
